* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, rgb(218, 93, 114), rgb(29, 29, 95), purple);
  max-width: 1100px;
  margin: auto;
  padding: 10px 20px;
  overflow: hidden;
}

.see-all {
  text-align: end;
}

.explore {
  padding-left: 42px;
  font-size: 20px;
}

.main {
  width: 100%;
  height: 100%;
  /* max-width: 1000px; */
  margin: 10px auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 10px;
  /* overflow: hidden; */
  flex-wrap: wrap;
}

.card {
  height: 300px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.238);
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
}

.card img {
  height: 60%;
  width: 90%;
  border-radius: 20px;
  object-fit: cover;
  border: 3px solid white;

  /* overflow: hidden; */
}

.card button {
  background-color: rgba(0, 0, 0, 0.381);
  padding: 8px 25px;
  border: 3px solid rgb(165, 113, 165);
  border-radius: 20px;
  margin-top: 20px;
}

.card-para {
  display: flex;
  gap: 20px;
  align-items: center;
}